{% extends 'index.html' %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <style>
         marquee{
     border: 2px solid black;
     background-color: white;
     font-size: larger;
}
    </style>
</head>
<body>
<marquee style="color:black; font-size:24px"><strong>Get daily horoscope updates and astrological insights on our astrology website.</strong></marquee>
<br>
<h1 align="center" style="color:#FFFFFF; font-size: 48px;">Astrology</h1>
<br>
<p  align="justify" style="color:#FFFFFF; font-size: 32px">Astrology, type of divination that involves the forecasting of earthly and human events through the observation and interpretation of the fixed stars, the Sun, the Moon, and the planets. Devotees believe that an understanding of the influence of the planets and stars on earthly affairs allows them to both predict and affect the destinies of individuals, groups, and nations. Though often regarded as a science throughout its history, astrology is widely considered today to be diametrically opposed to the findings and theories of modern Western science.</p>
<br><br><br><br><br>

</body>
</html>
{% endblock %}
