{% extends 'index2.html'%}
{% block content %}

<h2 align="center" style="color:red">{{message}}</h2>
<br><br>
<h1 align="center" style="color:#FFFFFF; font-size: 48px;"><u>Change password</u></h1>

<center><br><br>
<form method="post" action="{% url 'updatepassword' %}" >
    {% csrf_token %}
    <table align="center" width="40%" height="40%">
        <tr>
           <td>
              <label style="color:#FFFFFF; font-size: 32px;">Enter Old Password</label>
           </td>
            <td>
               <input type="password" name="opwd"style="font-size: 24px;width: 250px" required/>
            </td>
        </tr>
        <tr>
          <td></td>
        </tr>

        <tr>
           <td>
              <label style="color:#FFFFFF; font-size: 32px;">Enter New Password</label>
           </td>
              <td>
                <input type="password" name="npwd" style="font-size: 24px;width: 250px" required  />
              </td>
        </tr>

        <tr align="center">
         <td>
                <input type="Submit" value="Update" class="button"/>
         </td>
            <td>
                <input type="reset" value="clear" class="button"/>
            </td>

    </tr>
    </table>
    </form>
    </center>
<br><br>

{% endblock %}
